#patientPage {
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
}

#monitoring-message {
    margin-bottom: 64px;
    margin-top: 0px;
    padding-top: 64px;
}

#patientPage .videoContainer {
    background-color: black;
    position: relative;
    width: 100%;
    height: calc(100% - 64px);
    margin-bottom: 64px;
}

#patientPage .liveBadgeContainer {
    position: absolute;
    top: 32px;
    right: 50px;
    z-index: 2;
}