#nursePage {
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
}

#nursePage .callContainer {
    display: none;
    position: relative;
    margin-left: 16px;
}

#nursePage .video-action-container {
    width: 53%;
    height: calc(100% - 80px);
}

#nursePage .callContainer.inCall {
    display: inline-block;
    width: 53%;
    height: calc(100% - 140px);
    margin-bottom: 140px;
}
#nursePage .nurseContainer {
    position: absolute;
    width: 210px;
    height: 160px;
    left: 4px;
    bottom: 0px;
    border: 2px solid white;
}

#nursePage .monitorContainer {
    display: inline-block;
    margin-right: 4px;
    background-color: black;
    position: relative;
    width: 100%;
    height: calc(100% - 160px);
    margin-top: 80px;
    margin-bottom: 80px;
}

#nursePage .monitorContainer.inCall {
    border-style: none;
    width: 45%;
    height: calc(100% - 140px);
    margin-top: 0px;
    margin-bottom: 140px;
}

#nursePage .monitorContainer .OT_root {
    box-sizing: border-box;
    border-style: solid;
    border-width: 8px;
    border-radius: 2px;
    border-color: transparent;
}

#nursePage .monitorContainer .OT_root.loudest {
    border-color: rgb(187,30,137);
}

#nursePage .noPatientMessage {
    margin-bottom: 64px;
    margin-top: 0px;
    padding-top: 64px;
}

#nursePage .monitorContainer .OT_root:hover {
    cursor: pointer;
}

#nursePage .monitorContainer.inCall .OT_root:hover {
    cursor: default;
}