#nursePage {
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
}

#nursePage .videoContainer {
    background-color: black;
    position: relative;
    width: 100%;
    height: calc(100% - 80px);
    margin-bottom: 80px;
}

#nursePage .noPatientMessage {
    margin-bottom: 64px;
    margin-top: 0px;
    padding-top: 64px;
}

#nursePage .OT_root:hover {
    cursor: pointer;
}