#hostPage {
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
}

#hostPage .callContainer {
    display: none;
    position: relative;
    margin-left: 16px;
}

#hostPage .videoCallControls {
    width: 53%;
    height: calc(100% - 80px);
}

#hostPage .callContainer.inCall {
    display: inline-block;
    width: 53%;
    height: calc(100% - 140px);
    margin-bottom: 140px;
}
#hostPage .hostContainer {
    position: absolute;
    width: 210px;
    height: 160px;
    left: 4px;
    bottom: 0px;
    border: 2px solid white;
}

#hostPage .monitorContainer {
    display: inline-block;
    margin-right: 4px;
    background-color: black;
    position: relative;
    width: 100%;
    height: calc(100% - 180px);
    margin-top: 80px;
    margin-bottom: 100px;
}

#hostPage .monitorContainer.inCall {
    border-style: none;
    width: 45%;
    height: calc(100% - 140px);
    margin-top: 0px;
    margin-bottom: 140px;
}

#hostPage .monitorContainer .OT_root {
    box-sizing: border-box;
    border-style: solid;
    border-width: 8px;
    border-radius: 2px;
    border-color: transparent;
}

#hostPage .monitorContainer .OT_root.loudest {
    border-color: rgb(28,135,49); 
}

#hostPage .monitorContainer .OT_root.missing,
#hostPage .monitorContainer .OT_root.loudest.missing {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
    border-color: rgb(230,29,29)
}

@keyframes blink-animation {
    to {
        border-color: transparent;
    }
}
@-webkit-keyframes blink-animation {
    to {
        border-color: rgb(230,29,29); 
    }
}

#hostPage .noParticipantMessage {
    margin-bottom: 64px;
    margin-top: 0px;
    padding-top: 64px;
}

#hostPage .monitorContainer .OT_root:hover {
    cursor: pointer;
}

#hostPage .monitorContainer.inCall .OT_root:hover {
    cursor: default;
}